.wrapper.monitoring {
  position: relative;
}

.contents-section.topology {
  width: 877px;
  height: 600px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.nfvi-overload {
  width: 877px;
  height: 297px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.vm-overload {
  width: 877px;
  height: 297px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.dashboard-list {
  clear: both;
}
.contents-section.stats-monitoring {
  position: relative;
  width: 1760px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.contents-section-inner.stats-monitoring {
  position: relative;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.dashboard {
  min-height: 756px;
}
.dashboard-list {
  position: absolute;
  min-height: 128px;
  bottom: 0;
}
.dashboard-tab {
  position: absolute;
  top: 20px;
  left: 20px;
}
.dashboard-tab:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.dashboard-tab-item {
  float: left;
}
.dashboard-tab-link {
  width: 80px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  line-height: 30px;
  color: #576363;
  font-weight: bold;
  text-align: center;
  border: 1px solid #c2cbcb;
  border-bottom: 0;
}
.dashboard-tab-link.on {
  color: #ffffff;
  background: #c2cbcb;
}
.dashboard-tab-link.on .notice-num {
  color: #576363;
  background: #ffffff;
}
.dashboard-tab-link .notice-num {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 100%;
  text-align: center;
  line-height: 18px;
  background: #e8e8e8;
}
.dashboard-tab-cont {
  display: none;
  height: 100%;
}
.dashboard-tab-cont.on {
  display: block;
}
.dashboard-btn-expand {
  width: 24px;
  height: 30px;
  padding: 0;
  background: url(../images/ico_arrow_up.png) no-repeat 0 0;
  border: 0;
  text-indent: -9999px;
}
.dashboard-btn-expand.expand {
  background-position: 0 -31px;
}
.dashboard-icon-alarm-on, .dashboard-icon-alarm-off {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/ico_alarm.png) no-repeat;
  border: 0;
}
.dashboard-icon-alarm-on {
  background-position: 50% -21px;
}
.dashboard-icon-alarm-off {
  background-position: 50% 4px;
}

.btn-alarm-off {
  padding: 0;
  padding-left: 30px;
  width: 130px;
  background: #ee6247 url(../images/ico_alarm_btn.png) no-repeat 13px 9px;
  text-align: left;
}
.btn-alarm-on {
  padding: 0;
  padding-left: 22px;
  width: 130px;
  background: url(../images/ico_alarm_btn.png) no-repeat 10px -39px;
  text-align: left;
}

.state-box-cri, .state-box-maj, .state-box-min, .state-box-normal {
  width: 77px;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}
.state-box-cri {
  background: #ff7575;
}
.state-box-maj {
  background: #d59b72;
}
.state-box-min {
  background: #eedb73;
}
.state-box-normal {
  background: #00b9b0;
}

.overload-pannel {
  margin-top: 0;
  box-sizing: border-box;
  padding: 9px;
  width: 415px;
  height: 113px;
  border: 1px solid #c2cbcb;
  border-radius: 3px;
}
.overload-pannel:nth-child(1), .overload-pannel:nth-child(2) {
  margin-bottom: 5px;
}
.overload-view {
  display: block;
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-indent: -99999em;
  border: 1px solid #c2cbcb;
  border-radius: 2px;
  background: url(../images/ico_arrow_left.png) no-repeat 50% 50%;
}
.overload-title {
  float: left;
  color: #576363;
  font-size: 14px;
  font-weight: bold;
}
.overload-graph {
  margin-top: 8px;
  height: 62px;
}

.sm-msg-add-page {
  width: 400px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 70px;
  margin: -28px 0 0 -200px;
  font-size: 21px;
  color: #777;
  background: url(../images/ico_sm_caution.png) no-repeat 0 6px;
}

.diagram-dashboard {
  position: relative;
  padding: 35px 25px;
  box-sizing: border-box;
  width: 100%;
}

.diag-group {
  margin-left: 95px;
  width: 180px;
}
.diag-group-item {
  margin-top: 90px;
  box-sizing: border-box;
  height: 110px;
  border: 1px solid #c2cbcb;
  border-radius: 3px;
  text-align: center;
}
.diag-group-item.orchestrator {
  margin-top: 0;
  background: #e8e8e8;
  font-weight: bold;
  line-height: 108px;
}
.diag-group-title {
  margin-top: 13px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.diag-group-cont {
  margin-top: 10px;
}

/*# sourceMappingURL=monitoring.css.map */
