.wrapper.monitoring {
  position: relative;
}

.contents-section.topology {
  width: 877px;
  height: 600px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.nfvi-overload {
  width: 877px;
  height: 297px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.vm-overload {
  width: 877px;
  height: 297px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.contents-section.dashboard-list {
  clear: both;
}
.contents-section.stats-monitoring {
  position: relative;
  width: 1760px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.contents-section-inner.stats-monitoring {
  position: relative;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.dashboard {
  min-height: 756px;
}
.dashboard-list {
  position: absolute;
  min-height: 128px;
  bottom: 0;
}
.dashboard-tab {
  position: absolute;
  top: 20px;
  left: 20px;
}
.dashboard-tab:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.dashboard-tab-item {
  float: left;
}
.dashboard-tab-link {
  width: 80px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  line-height: 30px;
  color: #576363;
  font-weight: bold;
  text-align: center;
  border: 1px solid #c2cbcb;
  border-bottom: 0;
}
.dashboard-tab-link.on {
  color: #ffffff;
  background: #c2cbcb;
}
.dashboard-tab-link.on .notice-num {
  color: #576363;
  background: #ffffff;
}
.dashboard-tab-link .notice-num {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 100%;
  text-align: center;
  line-height: 18px;
  background: #e8e8e8;
}
.dashboard-tab-cont {
  display: none;
  height: 100%;
}
.dashboard-tab-cont.on {
  display: block;
}
.dashboard-btn-expand {
  width: 24px;
  height: 30px;
  padding: 0;
  background: url(../images/ico_arrow_up.png) no-repeat 0 0;
  border: 0;
  text-indent: -9999px;
}
.dashboard-btn-expand.expand {
  background-position: 0 -31px;
}
.dashboard-icon-alarm-on, .dashboard-icon-alarm-off {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -9999px;
  background: url(../images/ico_alarm.png) no-repeat;
  border: 0;
}
.dashboard-icon-alarm-on {
  background-position: 50% -21px;
}
.dashboard-icon-alarm-off {
  background-position: 50% 4px;
}

.btn-alarm-off {
  padding: 0;
  padding-left: 30px;
  width: 130px;
  background: #ee6247 url(../images/ico_alarm_btn.png) no-repeat 13px 9px;
  text-align: left;
}
.btn-alarm-on {
  padding: 0;
  padding-left: 22px;
  width: 130px;
  background: url(../images/ico_alarm_btn.png) no-repeat 10px -39px;
  text-align: left;
}

.state-box-cri, .state-box-maj, .state-box-min, .state-box-normal {
  width: 77px;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}
.state-box-cri {
  background: #ff7575;
}
.state-box-maj {
  background: #d59b72;
}
.state-box-min {
  background: #eedb73;
}
.state-box-normal {
  background: #00b9b0;
}

.overload-pannel {
  margin-top: 0;
  box-sizing: border-box;
  padding: 9px;
  width: 415px;
  height: 113px;
  border: 1px solid #c2cbcb;
  border-radius: 3px;
}
.overload-pannel:nth-child(1), .overload-pannel:nth-child(2) {
  margin-bottom: 5px;
}
.overload-view {
  display: block;
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-indent: -99999em;
  border: 1px solid #c2cbcb;
  border-radius: 2px;
  background: url(../images/ico_arrow_left.png) no-repeat 50% 50%;
}
.overload-title {
  float: left;
  color: #576363;
  font-size: 14px;
  font-weight: bold;
}
.overload-graph {
  margin-top: 8px;
  height: 62px;
}

.diagram-dashboard {
  margin-top: 0;
  height: 100%;
  overflow: hidden;
}
.diagram-dashboard-wrap {
  position: relative;
  padding: 35px 25px;
  box-sizing: border-box;
  width: 100%;
}
.diagram-dashboard-wrap:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.diagram-dashboard-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diag-group {
  margin-left: 90px;
  width: 180px;
}
.diag-group-item {
  margin-top: 90px;
  box-sizing: border-box;
  height: 110px;
  border: 1px solid #c2cbcb;
  border-radius: 3px;
  text-align: center;
  background: #ffffff;
}
.diag-group-item.orchestrator {
  margin-top: 0;
  background: #e8e8e8;
  font-weight: bold;
  line-height: 108px;
}
.diag-group-title {
  margin-top: 13px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.diag-group-cont {
  margin-top: 10px;
}
.diag-list {
  margin-left: 144px;
  width: 369px;
}
.diag-list-item:first-child {
  margin-bottom: 26px;
}
.diag-list-title {
  position: relative;
  margin-bottom: 8px;
  padding-left: 19px;
  font-size: 14px;
  line-height: 1;
}
.diag-list-title:after {
  width: 12px;
  height: 12px;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 100%;
  background: #e70000;
}
.diag-list-cont {
  box-sizing: border-box;
  padding: 17px 0 17px 17px;
  height: 220px;
  border: 1px solid #c2cbcb;
  border-radius: 3px;
  overflow: auto;
  background: #ffffff;
}
.diag-list-cont .vm-wrap {
  width: auto;
  float: left;
  margin: 0 12px 10px 0;
}
.diag-list-cont .vm-wrap:nth-child(8n) {
  margin-right: 0;
}
.diag-instance {
  width: 77px;
  height: 32px;
  float: left;
  margin: 0 5px 5px 0;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
}
.diag-instance:nth-child(4n) {
  margin-right: 0;
}
.diag-instance.critical {
  background-color: #ff7575;
}
.diag-instance.major {
  background-color: #d59b72;
}
.diag-instance.minor {
  background-color: #eedb73;
}
.diag-instance.normal {
  background-color: #00b9b0;
}
.diag-instance-so, .diag-instance-te {
  display: inline-block;
  line-height: 1;
  padding: 0 1px;
  font-size: 11px;
  vertical-align: 1px;
}
.diag-instance-so {
  background: #ffffff;
  color: #00b9b0;
}
.diag-instance-te {
  border: 1px solid #ffffff;
}
.diag-line-dash-orvi {
  position: absolute;
  top: 83px;
  left: 51px;
}
.diag-line-dash-orvi .vm-line-label {
  left: -34px;
}
.diag-line-dash-orvnfm {
  position: absolute;
  top: 138px;
  left: 197px;
}
.diag-line-dash-orvnfm .vm-line-label {
  left: -81px;
}
.diag-line-dash-vivnfm {
  position: absolute;
  top: 338px;
  left: 197px;
}
.diag-line-dash-vivnfm .vm-line-label {
  left: -81px;
}
.diag-line-dash-vevnfm {
  position: absolute;
  top: 177px;
  left: 287px;
}
.diag-line-dash-vevnfm .vm-line-label {
  left: 40px;
}
.diag-line-dash-nfvi {
  position: absolute;
  top: 486px;
  left: 287px;
}
.diag-line-dash-nfvi .vm-line-label {
  left: 40px;
}

.vm-line-label {
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

.vm-line-label.small {
  width: 80px;
}

.vm-line-label.green {
  background: #00b9b0;
}

/* statistics monitoring */
.sm-msg-add-page {
  width: 400px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 70px;
  margin: -28px 0 0 -200px;
  font-size: 21px;
  color: #777;
  background: url(../images/ico_sm_caution.png) no-repeat 0 6px;
}

/*# sourceMappingURL=monitoring.css.map */
