.selectric{

  &-mini{
    //@include form-frame(50px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:50px;
  }

  &-small{
    //@include form-frame(60px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:60px;
  }

  &-med{
    //@include form-frame(80px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:80px;
  }

  &-default{
    width:$box-default-width;
  }

  //display:inline-block;
  //width:100%;
  //height:21px;

  //border:0;
  //box-sizing: border-box;

  .label {
    color: $dark-gray;
    font-size: 11px;
    font-weight: bold;
  }

  &-items{
    li{
      padding:4px 6px;
      font-size:11px;
      color:$dark-gray;
    }
  }

  &-left-float{
    float:left;

    &-left{
      float:left;
      margin-right:10px;
    }
  }
}

.input{
  height:30px;
  padding-left:5px;

  font-weight:bold;
  font-size:11px;
  color:$dark;

  border:1px solid $light-gray;
  border-radius:2px;

  &.mini{
    width:50px;
  }

  &.small{
    width:60px;
  }

  &.med{
    width:80px;
  }

  &.default{
    width:$box-default-width;
  }
}

.btn{

  &-fill{
    &-orange{
      @include btn($box-default-width, $box-default-height, $box-default-height, 0, $white, $orange, 2px);
    }
    &-green-med{
      @include btn(80px, $box-default-height, $box-default-height, 0, $white, $green, 2px);
      font-size:$font-size-mini;
    }

    &-blue{
      @include btn($box-default-width, $box-default-height, $box-default-height, 0, $white, $blue, 2px);

      &:disabled{
        @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $white-gray, $white-gray, $white, 2px);
        cursor: default;
      }
    }
  }

  &-stroke {
    &-light {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $white-gray, $white-gray, $white, 2px);

      &:disabled {
        cursor:default;
      }
    }
    &-light-gray {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $light-gray, $dark-gray, $white, 2px);
    }
    &-light-gray-med {
      @include btn(80px, $box-default-height, $box-default-height, 1px solid $light-gray, $dark-gray, $white, 2px);
      font-size:$font-size-mini;
    }
    &-dark {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $dark, $dark, $white, 2px);
    }
    &-orange {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $orange, $orange, $white, 2px);
    }
  }

  &-calendar{
    width:14px;
    height:30px;

    text-indent:-99999em;
    border:0;
    background:url(../images/icon_btn_calendar.gif) no-repeat;
  }

  &-table-setting{
    width:23px;
    height:22px;

    float:right;

    text-indent:-99999em;

    border:0;
    background:url(../images/btn_tb_setting.png);
  }

}

.check{

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }
  }

  &-box{
    position:absolute;
    top:1px;
    left:1px;

    margin:0;

    &:checked + .check-label:before{
      content:"";
      display:block;
      position:absolute;
      z-index:10;
      top:7px;
      left:6px;
      width:12px;
      height:10px;
      background:url(../images/icon_checked.png) no-repeat 0 0;
    }

    &.small:checked + .check-label:before{
      top:3px;
      left:2px;
      background:url(../images/icon_checked.png) no-repeat -1px -20px;
    }

    &.small.partial:checked + .check-label:after{
      background:$light-gray;
    }

    &:disabled + .check-label:after {
      background-color:$light-gray;
    }
  }

  &-label{
    display:block;

    height:25px;
    line-height:23px;

    padding-left:30px;

    &.small{
      height:15px;
      line-height:15px;
      padding-left:15px;
    }

    &.blind{
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:23px;
      height:23px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $light-gray;
      border-radius: 2px;
      background:$white;
    }

    &.small{
      &:after{
        width:13px;
        height:13px;
        margin:0;
      }
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

}

.radio {

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }
  }

  position:absolute;
  top:1px;
  left:1px;

  margin:0;

  &-label{
    display:block;

    height:15px;
    line-height:15px;

    padding-left:15px;

    &.blind{
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &:after{
      content:"";
      display:block;

      width:13px;
      height:13px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $light-gray;
      border-radius: 50%;
      background:$white;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

  &:checked + .radio-label:before{
    content:"";
    display:block;
    position:absolute;
    width:7px;
    height:7px;

    z-index:10;
    top:4px;
    left:4px;

    border-radius:50%;
    background:$dark;
  }

  &:disabled + .radio-label:after{
    background:$light-gray;
  }

}

.form-label{
  height:30px;
  line-height:27px;
  color:$dark-gray;
}