/* selectric style */

.selectric{
  border-radius:2px;

  &-mini{
    //@include form-frame(50px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:50px;
  }

  &-small{
    //@include form-frame(60px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:60px;
  }

  &-med{
    //@include form-frame(80px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:80px;
  }

  &-default{
    width:$box-default-width;
  }

  &-wide{
    width:150px;
  }

  &-large{
    width:180px;
  }

  //display:inline-block;
  //width:100%;
  //height:21px;

  //border:0;
  //box-sizing: border-box;

  .label {
    color: $dark-gray;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    height: 25px;
  }

  &-items{
    li{
      padding:3px 6px 2px;
      font-size:11px;
      color:$dark-gray;
    }
  }

  &-left-float{
    float:left;

    &-left{
      float:left;
      margin-right:10px;
    }
  }

  &-spin-month{
    float:left;
    margin-left:17px;
  }
}

.input{
  height:27px;
  padding-left:5px;

  font-weight:bold;
  font-size:11px;
  color:$dark;

  border:1px solid $light-gray;
  border-radius:2px;

  &.mini{
    width:50px;
  }

  &.small{
    width:60px;
  }

  &.med{
    width:80px;
  }

  &.default{
    width:$box-default-width;
  }

  &.hasDatepicker {
    height:27px;
  }

  &.spinner-year{
    float:left;
    margin-right:17px;
  }
}

.btn{

  &-fill{
    &-orange{
      @include btn($box-default-width, $box-default-height, $box-default-height, 0, $white, $orange, 2px);

      &:disabled{
        background:#f6b0a3;
        cursor:auto;
      }
    }

    &-green-med{
      @include btn(80px, $box-default-height, $box-default-height, 0, $white, $green, 2px);
      font-size:$font-size-mini;
    }

    &-blue{
      @include btn($box-default-width, $box-default-height, $box-default-height, 0, $white, $blue, 2px);

      &:disabled{
        @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $white-gray, $white-gray, $white, 2px);
        cursor: default;
      }
    }
  }

  &-stroke {
    &-light {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $white-gray, $white-gray, $white, 2px);

      &:disabled {
        cursor:default;
      }
    }
    &-light-gray {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $light-gray, $dark-gray, $white, 2px);
    }
    &-light-gray-med {
      @include btn(80px, $box-default-height, $box-default-height, 1px solid $light-gray, $dark-gray, $white, 2px);
      font-size:$font-size-mini;
    }
    &-dark {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $dark, $dark, $white, 2px);
    }
    &-orange {
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $orange, $orange, $white, 2px);
    }
  }

  &-calendar{
    width:14px;
    height:27px;

    text-indent:-99999em;
    border:0;
    background:url(../images/icon_btn_calendar.gif) no-repeat 0 -1px;
  }

  &-table-setting{
    width:23px;
    height:22px;

    float:right;

    text-indent:-99999em;

    border:0;
    background:url(../images/btn_tb_setting.png);
  }

  &-refresh {
    @include size(24, 25);
    padding:0;
    background:url(../images/ico_refresh.png) no-repeat 50% 50%;
    border:0;
    text-indent:-9999px;
  }

  &-add {
    @include size(20);
    margin-top:2px;
    padding:0;
    background:url(../images/icon_btn_add.png) no-repeat 50% 50%;
    border:0;
    text-indent:-9999px;
  }

  &-nav-fold{
    @include size(15);
    text-indent:-99999em;
    border:0;
    background:url(../images/icon_btn_fold.png);

    &.setting{
      position:absolute;
      top:8px;
      right:8px;
    }

  }

  &-cancel-update{
    width:140px;
  }

}

.check{

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }
  }

  &-box{
    position:absolute;
    top:2px;
    left:1px;

    margin:0;

    &:checked + .check-label:before{
      content:"";
      display:block;
      position:absolute;
      z-index:10;
      top:3px;
      left:1px;
      width:12px;
      height:10px;
      background:url(../images/icon_checked.png) no-repeat 0 0;
    }

    &.small:checked + .check-label:before{
      top:3px;
      left:2px;
      background:url(../images/icon_checked.png) no-repeat -1px -20px;
    }

    &.small.partial:checked + .check-label:after{
      background:$light-gray;
    }

    &:checked + .check-label.heading:before{
      top:5px;
    }

    &:disabled + .check-label:after {
      background-color:$light-gray;
    }
  }

  &-label{
    display:block;

    height:auto;
    line-height:15px;

    padding-left:21px;

    &.small{
      height:auto;
      line-height:15px;
      padding-left:15px;

      &.heading{
        height:auto;
        line-height:1;
        padding-left:21px;
        margin:3px 0 5px;
      }
    }

    &.blind{
      padding-left:15px;
      width:0;
      text-indent:-99999em;
      overflow:hidden;
      line-height:1;
    }

    &:after{
      content:"";
      display:block;

      width:13px;
      height:13px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $light-gray;
      border-radius: 2px;
      background:$white;
    }

    &.small{
      &:after{
        width:13px;
        height:13px;
        margin:0;
      }

      &.heading:after{
        top:2px;
      }
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

}

.radio {

  &-wrap{
    position:relative;

    &.center{
      display:inline-block;
    }
  }

  position:absolute;
  top:1px;
  left:1px;

  margin:0;

  &-label{
    display:block;

    height:15px;
    line-height:15px;

    padding-left:15px;

    &.blind{
      width:0;
      text-indent:-99999em;
      overflow:hidden;
    }

    &.with-text {
      padding-left:21px;
    }

    &:after{
      content:"";
      display:block;

      width:13px;
      height:13px;

      position:absolute;
      top:0;
      left:0;

      border:1px solid $light-gray;
      border-radius: 50%;
      background:$white;
    }
  }

  &-label-blank {
    width:0;
    padding-left:20px;
    text-indent:-9999px;
  }

  &:checked + .radio-label:before{
    content:"";
    display:block;
    position:absolute;
    width:7px;
    height:7px;

    z-index:10;
    top:4px;
    left:4px;

    border-radius:50%;
    background:$dark;
  }

  &:disabled + .radio-label:after{
    background:$light-gray;
  }

}

.form-label{
  height:27px;
  line-height:25px;
  color:$dark-gray;
}

.ui-spinner{

  display:block;
  width:82px;
  height:27px;

  position:relative;

  float:left;

  border:1px solid $light-gray;
  background:$white;

  box-sizing:border-box;

  &-input{
    width:70%;
    height:100%;

    border:0;
  }

  &-button{

    display:block;
    width:13px;
    height:14px;

    position:absolute;
    right:3px;

    text-align:center;

    cursor:pointer;

    .ui-button-text{
      font-size:10px;
    }
  }

  &-up{
    top:-1px;
  }

  &-down{
    bottom:2px;
  }
}