.wrapper {
	@include center();
	@include size(1760, auto);
}

.header {
	@include size(auto, 56);
	border-bottom:2px solid $orange;
	background-color:#141414;
	min-width:1760px;

	&-user {
		float:right;
		margin-top:10px;

		&-name {
			float:right;
			font-size:$font-size-base;
			color:#919191;
		}

		&-path {
			clear:right;
			float:right;
			margin-top:3px;
			height:16px;
			font-size:$font-size-base;
			border:0;
		}
	}
}

.logo {
	float:left;
	margin:11px 0 0 -14px;
}

.gnb {
	float:left;
	margin-left:280px;
	padding-top:26px;

	&-item {
		float:left;

		&:hover .gnb-main-link {
			color:#fff;

			&:after {
				content:"";
				position:absolute;
				bottom:0;
				display:block;
				margin-left:0;
				border:8px solid $orange;
				border-top:0;
				border-left-color:transparent;
				border-right-color:transparent;
			}

			&01 {
				background-position:40px -59px;

				&:after {
					left:90px;
				}
			}

			&02 {
				background-position:40px -177px;

				&:after {
					left:90px;
				}
			}

			&03 {
				background-position:40px -295px;

				&:after {
					left:79px;
				}
			}

			&04 {
				background-position:40px -413px;

				&:after {
					left:79px;
				}
			}

			&05 {
				background-position:40px -530px;

				&:after {
					left:85px;
				}
			}

			&06 {
				background-position:43px -648px;

				&:after {
					left:79px;
				}
			}

			&:hover + .gnb-sub-wrap {
				display:block;
			}
		}


	}

	&-main-link {
		@include size(auto, 30);
		position:relative;
		display:block;
		box-sizing:border-box;
		padding-left:70px;
		padding-right:40px;
		line-height:1;
		color:#bababa;
		font-size:15px;
		font-weight:bold;
		background:url(../images/sprite_gnb.png) no-repeat 40px 0;

		&01 {
			background-position:40px 0;
		}

		&02 {
			background-position:40px -118px;
		}

		&03 {
			background-position:40px -236px;
		}

		&04 {
			background-position:40px -354px;
		}

		&05 {
			background-position:40px -471px;
		}

		&06 {
			background-position:43px -589px;
		}
	}

	&-sub-wrap {
		display:none;
		position:absolute;
		top:56px;
		left:0;
		width:100%;
		min-width:1760px;
		padding:13px 0;
		border-bottom:2px solid #cbcfd2;
		background-color:$orange;

		&:hover {
			display:block;
		}
	}

	&-sub01 {
		@include clear();
		@include center();
		@include size(1760, auto);
		box-sizing:border-box;
		padding-left:516px;
	}

	&-sub02 {
		@extend .gnb-sub01;
		padding-left:689px;
	}

	&-sub03 {
		@extend .gnb-sub01;
		padding-left:863px;
	}

	&-sub04 {
		@extend .gnb-sub01;
		padding-left:1004px;
	}

	&-sub05 {
		@extend .gnb-sub01;
		padding-left:1143px;
	}

	&-sub-item {
		position:relative;
		float:left;
		margin-left:15px;
		padding-left:15px;

		&:after {
			content:"";
			position:absolute;
			top:4px;
			left:0;
			display:block;
			@include size(1, 9);
			background-color:#f7b1a3;
		}

		&:first-child {
			margin-left:0;
			padding-left:0;

			&:after {
				display:none;
			}
		}
	}

	&-sub-link {
		position:relative;
		float:left;
		margin-left:12px;
		padding-bottom:2px;
		line-height:1;
		color:#fff;
		border-bottom:1px solid transparent;

		&:after {
			@include size(2);
			content:"";
			display:block;
			position:absolute;
			top:7px;
			left:-7px;
			background-color:#f7b1a3;
		}

		&:hover {
			border-bottom:1px solid #fff;
		}

		&:first-child {
			margin-left:0;
			padding-left:0;

			&:after {
				display:none;
			}
		}
	}

}

.main {
	min-width:1760px;

	&-header {
		@include size(auto, 72);
		border-bottom:1px solid #708080;
		background-color:$white;
	}

	&-content {
		padding:5px 0 20px;
		border-top:3px solid #cbcfd2;
	}
}

.main-heading {
	float:left;
	margin-top:13px;

	&-title {
		font-size:24px;
		font-weight:bold;
		color:$dark;
		line-height:1;
	}

	&-overview {
		margin-top:5px;
		color:#9da3a3;
		font-weight:bold;
		font-size:12px;
		line-height:1;
	}
}

.main-option {
	float:left;

	&-item {
		float:left;
	}
}

.main-actions {
	float:right;
}

.contents-section{
	@include clear();
	width:1760px;
	padding:10px 20px;
	border:1px solid $light-gray;
	border-radius:5px;
	background:$white;
	box-sizing:border-box;

	&-top{
		margin-bottom:10px;
		@include clear();
	}

	&-bottom{
		margin-top:10px;
		@include clear();
	}
}
