.wrapper {
	@include center();
	@include size(1760, auto);
	@include clear();

	&.fix-height{
		min-height:500px;
	}
}

.header {
	@include size(auto, 56);
	border-bottom:2px solid $orange;
	background-color:#141414;
	min-width:1760px;

	position:relative;

	z-index:90;

	&-user {
		float:right;
		margin-top:10px;
		position:relative;

		&-name {
			//text-align:right;
			font-size:$font-size-base;
			color:#919191;
		}

		&-path {
			position:relative;
			//text-align:right;
			margin-top:3px;
			height:16px;
			font-size:$font-size-base;
			border:0;
			cursor:pointer;
			padding:5px 16px 5px 3px;

			&:hover, &.on{
				padding:4px 15px 4px 2px;
				border:1px solid $light-gray;
				border-radius:2px;

				&:after{
					top:10px;
					right:2px;
				}
			}

			&:after{
				content: " ";
				position: absolute;
				top: 11px;
				right: 3px;
				//bottom: 0;
				//left: 0;
				margin: auto;
				width: 0;
				height: 0;
				border: 4px solid transparent;
				border-top-color: #c2cbcb;
				border-bottom: none;

			}

			&-submenu{
				display:none;

				position:absolute;
				width:100%;
				//text-align:right;
				padding:5px 3px;
				border:1px solid $light-gray;
				border-top:none;
				background:#141414;
				box-sizing:border-box;

				&.on{
					display:block;
				}

				.submenu-link{

					color:$dark-gray;

					&:hover {
					color: $white;
					}
				}
			}
		}
	}
}

.logo {
	float:left;
	margin:11px 0 0 -14px;
}

.gnb {
	float:left;
	margin-left:280px;
	padding-top:26px;

	&-item {
		float:left;

		&:hover .gnb-main-link {
			color:#fff;

			&:after {
				content:"";
				position:absolute;
				bottom:0;
				display:block;
				margin-left:0;
				border:8px solid $orange;
				border-top:0;
				border-left-color:transparent;
				border-right-color:transparent;
			}

			&01 {
				background-position:40px -59px;

				&:after {
					left:90px;
				}
			}

			&02 {
				background-position:40px -177px;

				&:after {
					left:90px;
				}
			}

			&03 {
				background-position:40px -295px;

				&:after {
					left:79px;
				}
			}

			&04 {
				background-position:40px -413px;

				&:after {
					left:79px;
				}
			}

			&05 {
				background-position:40px -530px;

				&:after {
					left:85px;
				}
			}

			&06 {
				background-position:43px -648px;

				&:after {
					left:79px;
				}
			}

			&:hover + .gnb-sub-wrap {
				display:block;
			}
		}


	}

	&-main-link {
		@include size(auto, 30);
		position:relative;
		display:block;
		box-sizing:border-box;
		padding-left:70px;
		padding-right:40px;
		line-height:1;
		color:#bababa;
		font-size:15px;
		font-weight:bold;
		background:url(../images/sprite_gnb.png) no-repeat 40px 0;

		&01 {
			background-position:40px 0;
		}

		&02 {
			background-position:40px -118px;
		}

		&03 {
			background-position:40px -236px;
		}

		&04 {
			background-position:40px -354px;
		}

		&05 {
			background-position:40px -471px;
		}

		&06 {
			background-position:43px -589px;
		}
	}

	&-sub-wrap {
		display:none;
		position:absolute;
		top:56px;
		left:0;
		width:100%;
		min-width:1760px;
		padding:13px 0;
		border-bottom:2px solid #cbcfd2;
		background-color:$orange;
		z-index:10;

		&:hover {
			display:block;
		}
	}

	&-sub01 {
		@include clear();
		@include center();
		@include size(1760, auto);
		box-sizing:border-box;
		padding-left:498px;
	}

	&-sub02 {
		@extend .gnb-sub01;
		padding-left:636px;
	}

	&-sub03 {
		@extend .gnb-sub01;
		padding-left:839px;
	}

	&-sub04 {
		@extend .gnb-sub01;
		padding-left:856px;
	}

	&-sub05 {
		@extend .gnb-sub01;
		padding-left:1050px;
	}

	&-sub-item {
		position:relative;
		float:left;
		margin-left:15px;
		padding-left:15px;

		&:after {
			content:"";
			position:absolute;
			top:3px;
			left:0;
			display:block;
			@include size(1, 9);
			background-color:#f7b1a3;
		}

		&:first-child {
			margin-left:0;
			padding-left:0;

			&:after {
				display:none;
			}
		}
	}
	
	&-sub-group-item {
		margin-top:5px;
		
		&:first-child {
			margin-top:0;
		}
	}

	&-sub-link {
		display:block;
		padding-bottom:2px;
		line-height:1;
		color:#fff;
		border-bottom:1px solid transparent;

		&:hover {
			border-bottom:1px solid #fff;
		}
		
	}

}

.main {
	min-width:1760px;

	&-header {
		@include size(auto, 73);
		border-bottom:1px solid #708080;
		background-color:$white;
	}

	&-content {
		padding:10px 0 15px;
		border-top:3px solid #cbcfd2;
	}
}

.main-heading {
	float:left;
	margin-top:13px;

	&-title {
		font-size:24px;
		font-weight:bold;
		color:$dark;
		line-height:1;
	}

	&-overview {
		margin-top:5px;
		color:#9da3a3;
		font-weight:bold;
		font-size:12px;
		line-height:1;
	}

	&-form-group {
		position:relative;
		padding-top:30px;

		>.group-label{
			position:absolute;
			top:8px;
			left:5px;
		}
	}
}

.main-option {
	float:left;

	&-item {
		float:left;
	}
}

.main-actions {
	float:right;
}

.contents-section{
	@include clear();
	width:1718px;
	padding:10px 20px;
	border:1px solid $light-gray;
	border-radius:3px;
	background:$white;

	&-top{
		//margin-bottom:10px;
		@include clear();
	}

	&-bottom{
		margin-top:10px;
		@include clear();
	}

	&-inner{
		position:relative;
		width:100%;
		height:calc(100% - 45px);
		overflow:auto;

		padding:20px;
		margin-top:10px;

		border:1px solid #c2cbcb;
		border-radius:3px;
		box-sizing:border-box;
		background:#fff;

		&.fill-gray{
			background:$clean-gray;
			padding:6px;
		}

		&.no-border{
			padding:0;
			border:0;
			border-radius:0;
		}

		&.out-border{
			border-top: 2px solid $light-gray;
			border-bottom:1px solid $light-gray;
		}

		&.inside-section{
			padding:10px 15px 15px 15px;
			margin:0 0 6px 0;

			&.solitary{
				margin:0;
			}
		}
	}

	&.left-float.left{
		margin-right:6px;
	}
}

.section-heading{
	font-weight:bold;
	color:$dark;
	line-height:25px;

	&.color{
		font-size:16px;
		color:$blue-green;
	}

	&.eng{
		font-size:20px;
	}

	&.small-eng{
		font-size:16px;
		color:#64aca8;
	}


}

.table{

	&-top{

		&:after{
			content:"";
			display:block;
			clear:both;
		}
	}

	&-heading{
		width:80px;
		height:30px;

		float:left;

		font-weight:bold;
		color:$white;
		line-height:30px;
		text-align:center;
		background:$light-gray;
	}

}
