// element width, height
@mixin size($width: auto, $height: $width) {
	@if (type_of($width) == 'number') and (unit($width) == '') {
		$width: $width + px;
	}
	@if (type_of($height) == 'number') and (unit($height) == '') {
		$height: $height + px;
	}
	@if ($width == 'auto') {
		height: $height;
	} @else if ($height == 'auto') {
		width: $width;
	} @else {
		width: $width;
		height: $height;
	}
}

// btn style
@mixin btn($color, $background, $border, $border-radius, $width: auto, $height: $width, $line-height: 0) {

	@include size($width, $height);

	$line-height: $height + $line-height;

	line-height: $line-height;
	color:$color;
	background:$background;
	border:$border;
	border-radius:$border-radius;
	text-align:center;
	cursor:pointer;
}

// set form frame
@mixin form-frame($border-width, $border-style, $border-color, $border-radius) {
	border:$border-width $border-style $border-color;
	border-radius:$border-radius;
	text-align:center;
	cursor:pointer;
}

// set position horizontal center
@mixin center() {
	display:block;
	margin:0 auto;
}

// clear float
@mixin clear() {
	&:after {
		content:"";
		display:block;
		clear:both;
	}
}