// element width, height
@mixin size($width: a, $height: $width) {
	@if (type_of($width) == 'number') and (unit($width) == '') {
		$width: $width + px;
	}
	@if (type_of($height) == 'number') and (unit($height) == '') {
		$height: $height + px;
	}

	@if ($width == 'a') {
		height: $height;
	} @else if ($height == 'a') {
		width: $width;
	} @else {
		width: $width;
		height: $height;
	}
}

// btn width, height, line-height
@mixin size-mid($width: a, $height: $width, $line-height: 0) {
	@include size($width, $height);

	$line-height: $height + $line-height;
	@if (unit($line-height) == '') {
		$line-height: $line-height + px;
	}
	line-height: $line-height;
}

// set position horizental center
@mixin center() {
	display:block;
	margin:0 auto;
}

// set button frame
@mixin btn-frame($color, $background, $border, $border-radius) {
	color:$color;
	background:$background;
	border:$border;
	border-radius:$border-radius;
	text-align:center;
	cursor:pointer;
}

// clear float
@mixin clear() {
	&:after {
		content:"";
		display:block;
		clear:both;
	}
}