// font family stack by weight
$font-stack:'ubuntu', 'Malgun Gothic', sans-serif;
$font-size-base:13px;
$font-size-small:12px;
$font-size-mini:11px;

// box size
$box-default-width:120px;
$box-default-height:30px;

// color
$dark:#576363;
$dark-gray:#777;
$light-gray:#c2cbcb;
$white-gray:#afbdbd;
$clean-gray:#e8e8e8;
$white: #ffffff;
$orange:#ee6247;
$blue:#479dee;
$green:#0bc17a;
$blue:#479dee;