// font family stack by weight
$font-stack-l:"RixSGo L", "Dotum", sans-serif;
$font-stack-m:"RixSGo M", "Dotum", sans-serif;
$font-stack-b:"RixSGo B", "Dotum", sans-serif;
$font-stack-eb:"RixSGo EB", "Dotum", sans-serif;

// font-size
$size12: 12px;
$size13: 13px;

// color
$dark: #231f20;
$gray1: #3e3e3e;
$gray2: #767676;
$gray3: #dcdcdc;
$gray4: #e6e6e6;
$gray5: #f3f3f4;
$gray6: #f9f9f9;
$gray7: #f1f1f1;
$white: #fff;
$orange: #ed6851;

// width
$mini:60px;
$small: 95px;
$med: 118px;
$half-col-half: 182px;
$full: 100%;

// form-margin
$form-margin:10px;
