// font family stack by weight
$font-stack:'ubuntu', 'Malgun Gothic', sans-serif;
$font-size-base:13px;
$font-size-small:12px;
$font-size-mini:11px;

// box size
$box-default-width:120px;
$box-default-height:30px;

// color
$dark:#576363;
$dark-gray:#777;
$light-gray:#c2cbcb;
$white-gray:#afbdbd;
$clean-gray:#e8e8e8;
$white-bg-gray:#f5f8f8;
$white: #ffffff;
$orange:#ee6247;
$white-orange:#f6d4cd;
$blue:#479dee;
$green:#0bc17a;
$blue:#479dee;
$blue-green:#00b9b0;
$light-green:#54d9ac;
$beige:#f8f2e5;
$red:#e70000;
$yellow:#fcb63c;

$critical:#ff7575;
$major:#d59b72;
$minor:#eedb73;
$normal:#00b9b0;
