.vm {
  @include size(30, 52);
  display:inline-block;
  margin:0;
  padding:0;
  background:url(../images/ico_com.png) no-repeat 50% 10px;
  border-radius:3px;
  border:0;
  text-indent:-9999px;

  &-wrap {
    width:66px;
    position:relative;
    display:inline-block;
    //margin:0 18px;
    text-align:center;
  }

  &-icon {

    &-a,
    &-s {
      @include size(18);
      position:absolute;
      top:42px;
      left:50%;
      margin-left:-9px;
      border-radius:100%;
      line-height:18px;
      color:$white;
      text-align:center;
    }

    &-a {
      background:$blue;
    }

    &-s {
      background:$dark-gray;
    }

  }

  &-name{
    font-weight:bold;
    margin:20px 0;

    &-small {
      margin:10px 0 0 0;
    }
  }

  &.critical {
    background-color:$critical;
  }

  &.major {
    background-color:$major;
  }

  &.minor {
    background-color:$minor;
  }

  &.normal {
    background-color:$normal;
  }

  &.external{
    background-color:$dark;
  }

  &.empty{
    background-color:$light-gray;
  }

  &.disabled{
    background-color:$light-gray;
  }

  &-line {

    &-label {
      @include size(180, 30);
      line-height:30px;
      text-align:center;
      color:$white;
      border-radius:15px;
      background:$dark-gray;
    }

  }


}

