@import "variables";
@import "mixins";

.state-box {

  &-cri,
  &-critical,
  &-maj,
  &-major,
  &-min,
  &-minor,
  &-normal {
    @include size(77, 27);
    box-sizing:border-box;
    line-height:27px;
    text-align:center;
    color:$white;
    font-weight:bold;
    border-radius:2px;
  }

  &-cri,
  &-critical {
    background:$critical;
  }

  &-maj,
  &-major {
    background:$major;
  }

  &-min,
  &-minor {
    background:$minor;
  }

  &-normal {
    background:$normal;
  }
}

.log {

  &-table {

    &-detail {
      margin:5px 0;
    }

  }

}