@import "variables";
@import "mixins";

.contents-section {

  &.topology {
    width:877px;
    height:600px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.nfvi-overload {
    width:877px;
    height:297px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.vm-overload {
    width:877px;
    height:297px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.dashboard-list {
    clear:both;
  }

}

.dashboard {
  &-list {
    position:relative;
  }

  &-tab {
    @include clear();
    position:absolute;
    top:20px;
    left:20px;

    &-item {
      float:left;
    }

    &-link {
      @include size(80, 30);
      display:block;
      box-sizing:border-box;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-align:center;
      border:1px solid $light-gray;
      border-bottom:0;

      &.on {
        color:$white;
        background:$light-gray;

        .notice-num {
          color:$dark;
          background:$white;
        }
      }

      .notice-num {
        @include size(18);
        display:inline-block;
        margin-left:6px;
        border-radius:100%;
        text-align:center;
        line-height:18px;
        background:$clean-gray;
      }

    }

    &-cont {
      display:none;

      &.on {
        display:block;
      }
    }
  }

  &-btn-expand {
    @include size(24, 30);
    padding:0;
    background:url(../images/ico_arrow_up.png) no-repeat 50% 50%;
    border:0;
    text-indent:-9999px;
  }

  &-icon {

    &-alarm {

      &-on,
      &-off {
        @include size(25);
        display:inline-block;
        text-indent:-9999px;
        background:url(../images/ico_alarm.png) no-repeat;
        border:0;
      }

      &-on {
        background-position:50% -21px;
      }

      &-off {
        background-position:50% 4px;
      }

    }

  }

}

.btn {
  &-alarm {

    &-off {
      padding:0;
      padding-left:30px;
      width:130px;
      background:$orange url(../images/ico_alarm_btn.png) no-repeat 13px 9px;
      text-align:left;
    }

    &-on {
      padding:0;
      padding-left:22px;
      width:130px;
      background:url(../images/ico_alarm_btn.png) no-repeat 10px -39px;
      text-align:left;
    }
  }
}

.state-box {

  &-red,
  &-orange,
  &-yellow {
    @include size(77, 30);
    box-sizing:border-box;
    line-height:30px;
    text-align:center;
    color:$white;
    font-weight:bold;
    border-radius:2px;
  }

  &-red {
    background:$red;
  }

  &-orange {
    background:$orange;
  }

  &-yellow {
    background:$yellow;
  }
}


.overload {

  &-pannel {
    margin-top:0;
    box-sizing:border-box;
    padding:9px;
    width:415px;
    height:113px;
    border:1px solid $light-gray;
    border-radius:2px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom:5px;
    }
  }

  &-view{
    display:block;
    padding:0;
    width:25px;
    height:25px;
    line-height:25px;
    text-indent:-99999em;
    border:1px solid $light-gray;
    border-radius:2px;
    background: url(../images/ico_arrow_left.png) no-repeat 50% 50%;
  }

  &-title {
    float:left;
    color:$dark;
    font-size:14px;
    font-weight:bold;
  }

  &-graph {
    margin-top:8px;
    height:62px;
  }

}