@import "variables";
@import "mixins";

.wrapper.monitoring{
  position:relative;
}

.contents-section {

  &.topology {
    width:877px;
    height:600px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.nfvi-overload {
    width:877px;
    height:297px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.vm-overload {
    width:877px;
    height:297px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.dashboard-list {
    clear:both;
  }

  &.stats-monitoring{
    display:none;
    width:1760px;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    padding:17px;

    box-sizing:border-box;

    &:first-child{
      display:block;
    }

    &.current{
      display:block;
    }
  }

  &-inner{

    &.stats-monitoring{
      position:relative;
      height:100%;
      margin:0;
      text-align:center;
      box-sizing:border-box;
      overflow:hidden;
    }

  }

}

.dashboard {
  min-height:766px;

  &-list {
    position:absolute;
    min-height:128px;
    bottom:0;
  }

  &-tab {
    @include clear();
    position:absolute;
    top:17px;
    left:18px;
    z-index:1;

    &-item {
      float:left;
    }

    &-link {
      @include size(80, 30);
      display:block;
      box-sizing:border-box;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-align:center;
      border:1px solid $light-gray;
      border-bottom:0;

      &.on {
        color:$white;
        background:$light-gray;

        .notice-num {
          color:$dark;
          background:$white;
        }
      }

      .notice-num {
        @include size(18);
        display:inline-block;
        margin-left:6px;
        border-radius:100%;
        text-align:center;
        line-height:18px;
        background:$clean-gray;
      }

    }

    &-cont {
      display:none;
      height:100%;

      &.on {
        display:block;
      }
    }
  }

  &-btn-expand {
    @include size(24, 27);
    padding:0;
    background:url(../images/ico_arrow_up.png) no-repeat 0 -2px;
    border:0;
    text-indent:-9999px;

    &.expand{
      background-position:0 -31px;
    }
  }

  &-icon {

    &-alarm {

      &-on,
      &-off {
        @include size(25);
        display:inline-block;
        text-indent:-9999px;
        background:url(../images/ico_alarm.png) no-repeat;
        border:0;
      }

      &-on {
        background-position:50% -21px;
      }

      &-off {
        background-position:50% 4px;
      }

    }

  }

}

.btn {
  &-alarm {

    &-off {
      padding:0;
      padding-left:30px;
      width:130px;
      background:$orange url(../images/ico_alarm_btn.png) no-repeat 13px 9px;
      text-align:left;
    }

    &-on {
      padding:0;
      padding-left:22px;
      width:130px;
      background:url(../images/ico_alarm_btn.png) no-repeat 10px -40px;
      text-align:left;
    }
  }
}

.state-box {

  &-cri,
  &-maj,
  &-min,
  &-normal,
  &-disabled {
    @include size(77, 30);
    box-sizing:border-box;
    line-height:30px;
    text-align:center;
    color:$white;
    font-weight:bold;
    border-radius:2px;
  }

  &-cri {
    background:$critical;
  }

  &-maj {
    background:$major;
  }

  &-min {
    background:$minor;
  }

  &-normal {
    background:$normal;
  }

  &-disabled {
    background:$light-gray;
  }
}

.overload {

  &-pannel {
    margin-top:0;
    box-sizing:border-box;
    padding:9px;
    width:415px;
    height:113px;
    border:1px solid $light-gray;
    border-radius:3px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom:5px;
    }
  }

  &-view{
    display:block;
    padding:0;
    width:25px;
    height:25px;
    line-height:25px;
    text-indent:-99999em;
    border:1px solid $light-gray;
    border-radius:2px;
    background: url(../images/ico_arrow_left.png) no-repeat 50% 50%;
  }

  &-title {
    float:left;
    color:$dark;
    font-size:14px;
    font-weight:bold;
  }

  &-graph {
    margin-top:8px;
    height:62px;
  }

}

.diagram-dashboard {
	margin-top:0;
	height:100%;
	overflow:hidden;

	&-wrap {
		@include clear();
    float:left;
    position:relative;
    padding-top:46px;
    box-sizing:border-box;
	}

	&-lines {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

}

.diag {

  &-group {
    margin-left:35px;
    width:400px;
    height:100%;

    // &-item {
    //   margin-top:90px;
    //   box-sizing:border-box;
    //   height:110px;
    //   border:1px solid $light-gray;
    //   border-radius:3px;
    //   text-align:center;
    //   background:$white;

    //   &.orchestrator {
    //     margin-top:0;
    //     background:$clean-gray;
    //     font-weight:bold;
    //     line-height:108px;
    //   }
    // }

    // &-title {
    //   margin-top:13px;
    //   font-size:14px;
    //   font-weight:bold;
    //   line-height:1;
    // }

    // &-cont {
    //   margin-top:10px;
    // }

  }

  &-list {
    width:369px;

    &-item {
      &:first-child {
        margin-bottom:26px;
      }
    }

    &-title {
      position:relative;
      margin-bottom:8px;
      padding-left:19px;
      font-size:14px;
      line-height:1;

      &:after{
        @include size(12);
        content:"";
        display:block;
        position:absolute;
        top:2px;
        left:0;
        border-radius:100%;
        background:$light-gray;
      }

      &.critical:after {
        background:$critical;
      }

      &.major:after {
        background:$major;
      }

      &.minor:after {
        background:$minor;
      }

      &.normal:after {
        background:$normal;
      }
    }

    &-cont {
      box-sizing:border-box;
      padding:17px 0 17px 17px;
      height:220px;
      border:1px solid $light-gray;
      border-radius:3px;
      overflow:auto;
      background:$white;

      .vm-wrap {
        width:auto;
        float:left;
        margin:0 12px 10px 0;

        &:nth-child(8n) {
          margin-right:0;
        }
      }
    }

  }

  &-instance {
    @include size(77, 32);
    float:left;
    margin:0 5px 5px 0;
    line-height:32px;
    text-align:center;
    color:$white;
    border-radius:2px;
    border:0;

    &:nth-child(4n) {
      margin-right:0;
    }

    &.critical {
      background-color:$critical;
    }

    &.major {
      background-color:$major;
    }

    &.minor {
      background-color:$minor;
    }

    &.normal {
      background-color:$normal;
    }

    &.disabled {
      background-color:$light-gray;
    }

    &-in,
    &-te,
    &-si,
    &-so {
      display:inline-block;
      line-height:1;
      padding:0 1px;
      font-size:11px;
      vertical-align:1px;

      &.normal{
        background:$white;
        color:$normal;
      }

      &.error {
        border:1px solid $white;
        background:$red;
      }

    }


  }

  &-line {

    &-dash-orvi {
      position:absolute;
      top:83px;
      left:51px;

      .vm-line-label {
        left:-34px;
      }

    }

    &-dash-orvnfm {
      position:absolute;
      top:138px;
      left:197px;

      .vm-line-label {
        left:-81px;
      }

    }

    &-dash-vivnfm {
      position:absolute;
      top:338px;
      left:197px;

      .vm-line-label {
        left:-81px;
      }

    }

    &-dash-vevnfm {
      position:absolute;
      top:177px;
      left:287px;

      .vm-line-label {
        left:40px;
      }
    }

    &-dash-nfvi {
      position:absolute;
      top:486px;
      left:287px;

      .vm-line-label {
        left:40px;
      }

    }

  }

}

.vm-line-label {
  position:absolute;
  top:50%;
  margin-top:-17px;
}

.vm-line-label.small {
  width:80px;
}

.vm-line-label.green {
  background:$normal;
}

/* statistics monitoring */

.sm{

  &-tab{
    float:left;
    margin:12px 0 0 70px;

    .tab{

      &-item{
        @include size(120, 48);

        position:relative;

        float:left;
        margin-right:10px;

        font-weight:bold;
        line-height:46px;
        text-align:center;

        border:1px solid $white-gray;
        background:#fff;
        box-sizing:border-box;

        &.current{
          color:$white;
          border:0;
          background:$orange;

          .btn-del{
            background:url(../images/ico_btn_del.png) no-repeat left top;
          }
        }
      }

    }

    .btn{
      &-del{
        @include size(14);
        position:absolute;
        top:3px;
        right:3px;
        text-indent:-99999em;
        border:0;
        background:url(../images/ico_btn_del.png) no-repeat right top;
      }

      &-add-tab{
        @include size(38, 48);

        font:{
          size:18px;
          weight:bold;
        }

        color:$white-gray;
        border:1px solid $white-gray;
        box-sizing:border-box;
        background:$white;
      }

      &-move{
        &-label{
          color:$dark;
          margin:-4px 0 5px;
        }

        &-prev, &-next{
          @include size(30);

          position:relative;

          text-indent:-99999em;
          border:1px solid $white-gray;
          border-radius:3px;

          background:$white;

          &:after{
            content:"";
            display:block;

            width:0;
            height:0;

            position:absolute;


            border:5px solid transparent;
          }
        }

        &-prev{
          &:after{
            top:9px;
            left:5px;
            border-right-color:$white-gray;
          }
        }

        &-next{
          &:after{
            top:9px;
            left:12px;
            border-left-color:$white-gray;
          }
        }
      }

    }
  }

  &-msg{

    &-add{

      &-page{

        width:400px;
        height:56px;

        position:absolute;
        top:50%;
        left:50%;

        padding-left:70px;
        margin:-28px 0 0 -200px;

        font-size:21px;
        color: $dark-gray;

        background:url(../images/ico_sm_caution.png) no-repeat 0 6px;

      }

    }

  }

}

.container{
  &-list {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-item {
    width: 423px;
    height: 213px;

    position:relative;
    float: left;

    margin: 0 6px 6px 0;
    border: 1px dashed $white-gray;
    background: url(../images/ico_add_graph.png) no-repeat center;
    box-sizing: border-box;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.graph{
  &-list {
    //width: 100%;
    //height: 100%;

    position: absolute;
    top:6px;
    left:6px;
  }

  &-item {
    width: 423px;
    height: 213px;

    float: left;

    margin: 0 6px 6px 0;
    padding:17px;
    border: 1px solid $white-gray;
    background:$white;
    box-sizing: border-box;

    cursor:move;

    &.m1x1{
      width:423px;
      height:191.75px;
    }

    &.m1x2{
      width:423px;
      height:191.75px * 2 + 6px;
    }
    &.m2x1{
      width:423px * 2 + 6px;
      height:191.75px;
    }
    &.m2x2{
      width:423px * 2 + 6px;
      height:191.75px * 2 + 6px;
    }

    &.m1x3{
      width:423px;
      height:191.75px * 3 + 12px;
    }
    &.m3x1{
      width:423px * 3 + 12px;
      height:191.75px;
    }
    &.m2x3{
      width:423px * 2 + 6px;
      height:191.75px * 3 + 12px;
    }
    &.m3x2{
      width:423px * 3 + 12px;
      height:191.75px * 2 + 6px;
    }
    &.m3x3{
      width:423px * 3 + 12px;
      height:191.75px * 3 + 12px;
    }

    &.m1x4{
      width:423px;
      height:191.75px * 4 + 18px;
    }
    &.m4x1{
      width:423px * 4 + 18px;
      height:191.75px;
    }
    &.m2x4{
      width:423px * 2 + 6px;
      height:191.75px * 4 + 18px;
    }
    &.m4x2{
      width:423px * 4 + 18px;
      height:191.75px * 2 + 6px;
    }
    &.m3x4{
      width:423px * 3 + 12px;
      height:191.75px * 4 + 18px;
    }
    &.m4x3{
      width:423px * 4 + 18px;
      height:191.75px * 3 + 12px;
    }
    &.m4x4{
      width:423px * 4 + 18px;
      height:191.75px * 4 + 18px;
    }
  }

  &-top{
    height:35px;
  }

  &-title{
    font-size:20px;
    font-weight:bold;
    color:$blue-green;

    float:left;
  }

  &-btn-group{
    float:right;
  }

  &-btn{
    width:18px;
    height:17px;

    float:left;
    text-indent:-99999em;

    margin-left:10px;
    border:0;
    background:url(../images/sprite_btn_graph_item.png) no-repeat;

    &.enlarge{
      background-position:-25px 0;
    }

    &.close{
      background-position:-50px 0;
    }

  }

  &-content{
    border-top:2px solid $blue-gray;
  }
}

.enlarge-graph{
  &-item {
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    padding:17px;
    border: 5px solid $orange;
    background:$white;
    box-sizing: border-box;

  }

  &-top{
    height:35px;
  }

  &-title{
    font-size:20px;
    font-weight:bold;
    color:$blue-green;

    float:left;
  }

  &-btn-group{
    float:right;
  }

  &-btn{
    width:18px;
    height:17px;

    float:left;
    text-indent:-99999em;

    margin-left:10px;
    border:0;
    background:url(../images/sprite_btn_graph_item.png) no-repeat;

    &.enlarge{
      background-position:-25px 0;
    }

    &.close{
      background-position:-50px 0;
    }

  }

  &-content{
    border-top:2px solid $blue-gray;
  }
}

/* monitoring dashboard popup */

.dbpopup {
  @include size(877, 600);
  position:absolute;
  top:-9999px;
  left:50%;
  margin-left:3px;
  padding:15px 18px;
  box-sizing:border-box;
  border:1px solid #C2CBCB;
  border-radius:3px;
  background:$white;

  &.on {
    top:0;
  }

  &.dbpopup-graph-detail {
    left:-3px;

    &-inner {
      height:508px;
      border-top:2px solid #C2CBCB;
      overflow:auto;
    }
  }

  &-heading {
    margin-bottom:10px;
    font-size:20px;
    font-weight:bold;
    color:$blue-green;
    line-height:1;
  }

  &-content {
    position:relative;
  }

  &-tab {
    @include clear();

    &-item {
      float:left;
    }


    &-link {
      @include size(130, 30);
      display:block;
      box-sizing:border-box;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-align:center;
      border:1px solid $light-gray;
      border-bottom:0;

      &.on {
        color:$white;
        background:$light-gray;
      }

    }

    &-cont {
      position:absolute;
      top:-9999px;

      &.on {
        position:relative;
        top:0;
      }

      &-top {
        position:absolute;
        top:-30px;
        right:0;
      }

      &-inner {
        padding-top:10px;
        height:498px;
        border-top:2px solid $light-gray;
        overflow:auto;
      }

    }
  }

  &-section {
    margin-top:20px;

    &:first-child {
      margin-top:0;
    }

    &.half-width {
      width:409px;
    }

    &.left-float,
    &.right-float {
      margin-top:0;
    }

    &-title {
      padding:0 10px;
      height:32px;
      line-height:32px;
      color:$dark;
      font-weight:bold;
      background:$light-yellow;
      border-radius:2px;

      &-state {
        @include size(77, 22);
        float:right;
        margin-top:5px;
        line-height:22px;
        color:$white;
        font-weight:bold;
        text-align:center;
        background:$orange;
        border-radius:2px;
      }
    }

    &-inner {
      @include clear();
      margin-top:10px;
    }

    &-graybox {
      @include clear();
      margin-top:10px;
      padding:10px;
      border-radius:2px;
      background:#ececec;

      &:first-child {
        margin-top:0;
      }

    }

    &-blankbox {
      @include clear();
      margin-top:10px;
      box-sizing:border-box;
      padding:10px;
      border-radius:2px;
      border:1px solid #ececec;

      &:first-child {
        margin-top:0;
      }

      &.high {
        height:90px;
      }

      &.row {
        height:50px;
      }

    }

  }

  &-input-wrap {
    @include clear();
    margin-top:10px;

    &:first-child {
      margin-top:0;
    }

    .half-width {
      width:50%;
    }
  }

  &-label {
    box-sizing:border-box;
    padding-right:9px;
    width:115px;
    height:30px;
    line-height:27px;
    color:$dark;
    font-weight:bold;
    text-align:right;
  }

  &-input-form{

    @include form-frame(100%, $box-default-height, 1px, solid, $light-gray, 2px);
    display:inline-block;
    width:calc(100% - 115px);
    box-sizing: border-box;
    padding:0 5px;
    color:#888;
    font-size:11px;
    font-weight:bold;
    text-align:left;
    cursor:text;

  }

  &-roundbox {
    border:1px solid $light-gray;
    border-radius:2px;
  }

  &-btn-refresh {
    @include size(24, 30);
    padding:0;
    background:url("../images/ico_refresh.png") no-repeat scroll 50% 50%;
    background-size:14px;
    border:0px none;
    text-indent:-9999px;
  }

  &-btn-item {
    @include size(94, 33);
    float:left;
    margin:4px 4px 0 0;
    line-height:33px;
    text-align:center;
    color:$white;
    border-radius:2px;
    border:0px none;
    background-color:$blue-green;

    &:nth-child(4n) {
      margin-right:0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top:0;
    }
  }

  &-graph {
    position:relative;
    width:90%;
    height:20px;
    border:1px solid $light-gray;
    border-radius:2px;
    overflow:hidden;

    &.small {
      width:65%;
    }

    &-bar {
      height:20px;
      background:$blue-green;

      &.orange {
        background:$orange;
      }
    }

    &-msg {
      position:absolute;
      top:0;
      right:10px;
      line-height:20px;
      font-weight:bold;
      color:$dark;
    }

    &-label {
      margin-left:10px;
      line-height:20px;
    }
  }

  &-circle {
    @include size(273, 174);
    box-sizing:border-box;
    margin-left:10px;
    padding:10px;

    &:first-child {
      margin-left:0;
    }

    &-title {
      margin-bottom:20px;
      line-height:1;
      font-weight:bold;
    }

    &-chart {
      position:relative;
      margin-top:2px;
      margin-left:20px;

      &-bar {
        position:absolute!important;
        top:-6px;
        left:-6px;
        width:107px!important;
        height:107px;

        &.red .ct-series.ct-series-a .ct-area,
        &.red .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
          fill:$red;
        }

        &.yellow .ct-series.ct-series-a .ct-area,
        &.yellow .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
          fill:$yellow;
        }

        &.green .ct-series.ct-series-a .ct-area,
        &.green .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
          fill:$blue-green;
        }

        .ct-series.ct-series-b .ct-area,
        .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
          fill:$clean-gray;
        }
      }


      &-text {
        @include size(63);
        position:absolute;
        top:16px;
        left:16px;
        line-height:63px;
        text-align:center;
        border-radius:100%;
        background:$white;
        font-size:20px;
        font-weight:bold;

        &.red {
          color:$red;
        }

        &.orange {
          color:$yellow;
        }

        &.green {
          color:$blue-green;
        }
      }

    }

    &-info {
      margin-right:5px;
      min-width:100px;

      &-label {
        margin-top:12px;
        font-size:16px;
        color:$dark;

        &:first-child {
          margin-top:0;
        }
      }

      &-text{
        color:$dark;
        line-height:1;
        font-size:20px;
        font-weight:bold;
      }
    }

  }

  &-table-hwinfo {
    width:100%;
    border-top-width:1px;

    &-text {
      margin:10px 0;
    }

  }

  &-close {
    @include size(23);
    position:absolute;
    top:15px;
    right:18px;
    padding:0;
    text-indent:-9999px;
    border:1px solid #576363;
    border-radius:100%;
    background:url(../images/ico_close.png) no-repeat 50% 50%;
  }

}
