@import "variables";
@import "mixins";

.pagination {
  text-align:center;
  font-size:0;

  .page-item {
    display:inline-block;
    box-sizing:border-box;
    @include size(27);
    line-height:25px;
    text-align:center;
    font-size: $font-size-mini;
    font-weight:bold;
    color:$dark-gray;
    border-radius:5px;
    border:1px solid transparent;

    &.blind{
      display:none;
    }
  }

  .page-item:hover {
    border-color:$light-gray;
  }

  .page-first,
  .page-prev,
  .page-next,
  .page-last {
    text-indent:-9999px;
    background:url(../images/sprite_pagination.png) no-repeat -2px -2px;

    &.disabled{
      background-position:-2px -34px;
      cursor:default;

      &:hover{
        border-color:transparent;
      }
    }
  }

  .page-prev {
    background-position:-30px -2px;

    &.disabled{
      background-position:-30px -34px;
    }
  }

  .page-next {
    background-position:-58px -2px;

    &.disabled{
      background-position:-58px -34px;
    }
  }

  .page-last {
    background-position:-86px -2px;

    &.disabled{
      background-position:-86px -34px;
    }
  }

  .page-item.current {
    color:$orange;
  }
}