@import "variables";
@import "mixins";

.pagination {
  text-align:center;
  font-size:0;

  .disabled{
    pointer-events: none;
  }

  .page-item {
    display:inline-block;
    box-sizing:border-box;
    @include size(30);
    line-height:28px;
    text-align:center;
    font-size: $font-size-mini;
    font-weight:bold;
    color:$dark-gray;
    border-radius:5px;
    border:1px solid transparent;

    &.hidden{
      display:none;
    }
  }

  .page-item:hover {
    border-color:$light-gray;
  }

  .page-first,
  .page-prev,
  .page-next,
  .page-last {
    text-indent:-9999px;
    background:url(../images/sprite_pagination.png) no-repeat;

    &.disabled{
      background-position:0 -32px;
      cursor:default;

      &:hover{
        border-color:transparent;
      }
    }
  }

  .page-prev {
    background-position:-28px 0;

    &.disabled{
      background-position:-28px -32px;
    }
  }

  .page-next {
    background-position:-56px 0;

    &.disabled{
      background-position:-56px -32px;
    }
  }

  .page-last {
    background-position:-84px 0;

    &.disabled{
      background-position:-84px -32px;
    }
  }

  .page-item.current {
    color:$orange;
  }
}