@import "variables";

@import "mixins";

@import "reset";

@import "form";

@import "tree";

@import "vendor";

$pop-green:#00b9b0;
$pop-red:#e70000;
$pop-dark-blue:#0057b9;


/* form element style in popup : S */

.input-text{
	color:$dark-gray;
	resize:none;
}

.dimmed {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);

  &.on {
    display:block;
  }
}

.hide{
  display:none;
}

//.select, .input{

//  @include form-frame($box-default-width, $box-default-height, 1px, solid, $light-gray, 2px);

//  &-form{
//    display:inline-block;
//    width:100%;
//    height:21px;

//    border:0;
//    box-sizing: border-box;

//    color:#888;
//    font-size:11px;
//    font-weight:bold;
//  }

//}


.selectric{

  &-mini{
    //@include form-frame(50px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:50px;
  }

  &-small{
    //@include form-frame(60px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:60px;
  }

  &-med{
    //@include form-frame(80px, $box-default-height, 1px, solid, $light-gray, 2px);
    width:80px;
  }

  &-default{
    width:$box-default-width;
  }

  //display:inline-block;
  //width:100%;
  //height:21px;

  //border:0;
  //box-sizing: border-box;

  .label {
    color: $dark-gray;
    font-size: 11px;
    font-weight: bold;
  }

  &-items{
    li{
      padding:4px 6px;
      font-size:11px;
      color:$dark-gray;
    }
  }

  &-left-float{
    float:left;

    &-left{
      float:left;
      margin-right:10px;
    }
  }
}

.input-form{

  @include form-frame(100%, $box-default-height, 1px, solid, $light-gray, 2px);

  display:inline-block;
  box-sizing: border-box;
  padding:0 5px;

  color:#888;
  font-size:11px;
  font-weight:bold;
  text-align:left;

  cursor:text;

}

.file-form{

  @include form-frame(100%, $box-default-height, 1px, solid, $light-gray, 2px);

	display:inline-block;
  box-sizing: border-box;
  text-align:left;

	color:#888;
	font-size:11px;
	font-weight:bold;

}

.btn{

  &-fill{
    &-orange{
      @include btn($box-default-width, $box-default-height, $box-default-height, 0, $white, $orange, 2px);
    }

    &-dark {
     @include btn(106px, $box-default-height, $box-default-height, 0, $white, $dark-gray, 2px);
    }
  }

  &-stroke{
    &-light{
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $white-gray, $white-gray, $white, 2px);
    }
    &-dark{
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $dark, $dark, $white, 2px);
    }
    &-orange{
      @include btn($box-default-width, $box-default-height, $box-default-height, 1px solid $orange, $orange, $white, 2px);
    }
  }

}

.left-float{
  float:left;

  &.left{
    margin-right:10px;

    &.group{
      margin-right:20px;
    }
  }

  &.right{
    margin-left:10px;

    &.group{
      margin-left:20px;
    }
  }

}

.right-float{
  float:right;

  &.left{
    margin-right:10px;

    &.group{
      margin-right:20px;
    }
  }

  &.right{
    margin-left:10px;

    &.group{
      margin-left:20px;
    }
  }

}
/* form element style in popup : E */

/* table element style in popup : S */
.vt-table {
  width: 100%;
  border-top: 2px solid $light-gray;

  caption{
    display:none;
  }

  &.out-border{
    border-top:0;
  }

  th {
    height: 40px;
    position:relative;

    padding-left:10px;

    font-weight:bold;
    color:$dark;

    text-align:left;
    line-height:38px;

    border-bottom: 1px solid $light-gray;

    &.chkbox{
      line-height:0;
    }

    &.center {
      padding:0;
      text-align: center;
    }

    &.first:after{
      display:none;
    }

    .area-btn-sort{
      margin-top:11px;
    }

    &:after{
      content:"";
      display:block;

      width:1px;
      height:15px;

      position:absolute;
      top:14px;
      left:0;
      background:$light-gray;
    }
  }

  td {
    height: 39px;
    padding-left:10px;
    border-bottom: 1px solid $clean-gray;

    &.center {
      padding:0;
      text-align: center;
    }

    &.vt-border{
      border-left:1px solid $clean-gray;
      border-right:1px solid $clean-gray;
    }

    &.bg-stats-beige{
      background:$beige;
    }

    &.bg-stats-white{
      background:$white;
    }
  }

  &.stats{
    width:auto;
    background:$white-bg-gray;
  }
}

/* table element style in popup : E */

/* popup common : S */
.width {
  &-small {
    width:95px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 95px);
    }
  }

  &-normal {
    width:118px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 118px);
    }
  }

  &-wide {
    width:170px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 170px);
    }
  }

}

.col-width {
  &-4 {
    box-sizing:border-box;
    padding-left:3px;
    width:40%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }

  &-5 {
    box-sizing:border-box;
    padding-left:3px;
    width:50%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }

  &-6 {
    box-sizing:border-box;
    padding-left:3px;
    width:60%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }
}

.text {

  &-gray {
    color:$light-gray;
  }

  &-dark {
    color:$dark;
  }

  &-red {
    color:$pop-red;
  }

  &-blue {
    color:$blue;
  }
}

.req {
  margin-right:2px;
  color:$orange;
  font-weight:bold;
  vertical-align:-2px;
}

.popup {
  display:none;
  position:absolute;
  top:150px;
  left:50%;
  margin-left:-400px;
  padding:22px;
  width:750px;
  border:3px solid $orange;
  background:$white;
  z-index:100;

  &-small-width {
    margin-left:-270px;
    width:540px;
  }

  &-wide-width {
    margin-left:-500px;
    width:1000px;
  }

  &.on {
    display:block;
  }

  &-heading {
    margin-bottom:20px;
    font-size:20px;
    font-weight:bold;
    color:$pop-green;
    line-height:1;
  }

  &-subheading {
    margin-bottom:10px;
    font-weight:bold;
    color:$dark;
    line-height:1;
  }

  &-content {
    @include clear();
    padding-bottom:22px;
    border-bottom:2px solid #becacc;

    &-section {
      @include clear();
      margin-top:18px;
      padding:11px;
      background:#ececec;
      border-radius:2px;
    }
  }

  &-bottom {
    margin-top:22px;
  }

  &-input-wrap {
    @include clear();
    margin-top:10px;

    &:first-child {
      margin-top:0;
    }
  }

  &-gray-wrap {
    box-sizing:border-box;
    padding:5px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:#f9f9f9;
  }

  &-white-wrap {
    box-sizing:border-box;
    padding:5px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:$white;
  }

  &-label {
    box-sizing:border-box;
    padding-right:9px;
    height:30px;
    line-height:28px;
    color:$dark;
    font-weight:bold;
    text-align:right;

    &.operator{
      font-size:21px;
      font-weight:normal;
    }
  }

  &-graph {
    margin:5px 10px;
    padding:2px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:$white;

    &-bar {
      height:21px;
      background:$blue;
    }

    &-msg {
      margin-left:10px;
      font-size:12px;
      font-weight:bold;
    }
  }

  &-msg {
    color:$dark;
    font-weight:bold;
    line-height:1.4;

    &-icon {
      margin-top:3px;
      margin-right:8px;
    }

  }

  &-table {

    &-section {
      overflow:auto;
    }

  }

  &-section-heading {
    margin-bottom:10px;
    font-weight:bold;
  }

}
/* popup common : E */

/* vnf : S */
.width-add-pkg.input-form {
  width:517px;
}
.add-vnf {

  &-step{
    box-sizing:border-box;
    padding:10px;

    &-item {
      @include clear();
      margin-top:20px;
      line-height:14px;
      font-size:12px;
      font-weight:bold;

      &:first-child {
        margin-top:0;
      }
    }

    &-icon {
      width:23px;
      line-height:13px;
    }

    &-text {
      width:190px;
    }
  }

  &-state {

    &-ok {
      padding-left:14px;
      color:$pop-dark-blue;
      background:url(../images/popup/bg_dots_blue.png) no-repeat 0 center;
    }

    &-fail {
      padding-left:14px;
      color:$pop-red;
      background:url(../images/popup/bg_dots_red.png) no-repeat 0 center;
    }

  }

  &-detail {
    position:relative;
    height:170px;
    // overflow-x:hidden;
    // overflow-y:auto;

  }
}

.stage01:after,
.stage02:after,
.stage03:after,
.stage04:after,
.stage05:after {
  width:10px;
  height:10px;
  content:"";
  position:absolute;
  top:10px;
  left:-7px;
  display:block;
  background:$white;
  border-left:1px solid $light-gray;
  border-bottom:1px solid $light-gray;
  transform:rotate(45deg);
}

.stage01:after {
  top:10px;
}
.stage02:after {
  top:43px;
}
.stage03:after {
  top:77px;
}
.stage04:after {
  top:110px;
}
.stage05:after {
  top:145px;
}

.updatable-list {
  height:110px;
//  overflow-x:hidden;
//  overflow-y:auto;
}
/* vnf : E */

/* monitoring : S */
.popup {
  &-tree {
    margin-top:5px;
    padding:0;

    &-inner {
      padding:15px;
      height:130px;
      overflow:auto;
    }

    &-sorting {
      @include clear();
    }

  }

  &-add-graph-table {
    padding:15px;
    height:197px;
  }

}

.wheelbox {
  width:50px;
  height:30px;
  border:1px solid #C2CBCB;
  border-radius:2px;
  background:$white;
  box-sizing:border-box;
  overflow:hidden;

  &-input {
    width:30px;
    height:30px;
    border:0;
    display:inline-block;
    box-sizing:border-box;
    padding:0px 5px;
    color:#888;
    font-size:11px;
    font-weight:bold;
  }

  &-sort {
    margin-top:6px;

    &-btn {
      margin:3px 5px 3px 0px;
      padding:0px;
      width:7px;
      height:4px;
      line-height:2px;
      color:$light-gray;
      cursor:pointer;
      text-indent:-9999px;
      border:0;
      background:url(../images/table/sprite_btn_icons.png) no-repeat;

      &.asc {
        background-position: 0px -57px;
      }

      &.desc {
        background-position: 0px -66px;
      }

    }

  }

}

.stats-map {
  margin-top:10px;
  padding:10px;
  padding-right:5px;
  height:133px;

  &-wrap {
    padding-left:30px;
  }

  &-row {
    margin-top:5px;
    overflow:hidden;

    &:first-child {
      margin-top:0;
    }
  }

  &-item {
    width:25%;
    box-sizing:border-box;
    padding-right:5px;

    &-state {
      box-sizing:border-box;
      width:100%;
      height:24px;
      line-height:24px;
      border:1px dashed $light-gray;
      color:$dark;
      font-size:11px;
      font-weight:bold;
      text-align:center;

      &.active {
        border-color:$gray-green;
        background:$dark-green;
      }

      &.used {
        border-style:solid;
        background:$light-gray;
      }

    }

  }

}
/* monitoring : E */

