@import "variables";

@import "mixins";

$pop-green:#00b9b0;
$pop-red:#e70000;
$pop-dark-blue:#0057b9;

/* popup common : S */
.dimmed {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);
  z-index:100;

  &.on {
    display:block;
  }
}

.input-form{

  @include form-frame(90%, $box-default-height, 1px, solid, $light-gray, 2px);

  display:inline-block;
  box-sizing: border-box;
  padding:0 5px;

  color:#888;
  font-size:11px;
  font-weight:bold;
  text-align:left;

  cursor:text;

  &.with-unit {
    width:calc(100% - 70px);
  }

  &[disabled] {
    background-color:$white-bg-gray;
  }

}

.file-form{

  @include form-frame(100%, $box-default-height, 1px, solid, $light-gray, 2px);

  display:inline-block;
  box-sizing: border-box;
  text-align:left;

  color:#888;
  font-size:11px;
  font-weight:bold;

  &.with-unit {
    width:calc(100% - 70px);
  }

  &[disabled] {
    background-color:$white-bg-gray;
  }

}

.input-text{
  color:$dark-gray;
  resize:none;
}

.btn{

  &-fill{
    &-dark {
     @include btn(106px, $box-default-height, $box-default-height, 0, $white, $dark-gray, 2px);
    }
  }

}

.width {
  &-small {
    width:95px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 95px);

      &.with-unit {
        width:calc(100% - 95px - 70px);
      }
    }
  }

  &-normal {
    width:118px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 118px);

      &.with-unit {
        width:calc(100% - 118px - 70px);
      }
    }
  }

  &-wide {
    width:170px;

    & + .input-form,
    & + .file-form,
    & + .popup-gray-wrap,
    & + .popup-white-wrap {
      width:calc(100% - 170px);

      &.with-unit {
        width:calc(100% - 170px - 70px);
      }
    }
  }

}

.col-width {
  &-4 {
    box-sizing:border-box;
    padding-left:3px;
    width:40%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }

  &-5 {
    box-sizing:border-box;
    padding-left:3px;
    width:50%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }

  &-6 {
    box-sizing:border-box;
    padding-left:3px;
    width:60%;

    &:first-child {
      padding-left:0;
      padding-right:3px;
    }
  }
}

.text {

  &-gray {
    color:$light-gray;
  }

  &-dark {
    color:$dark;
  }

  &-red {
    color:$pop-red;
  }

  &-blue {
    color:$blue;
  }
}

.req {
  margin-right:2px;
  color:$orange;
  font-weight:bold;
  vertical-align:-2px;
}

.popup {
  display:none;
  position:fixed;
  top:150px;
  left:50%;
  margin-left:-400px;
  padding:22px;
  width:750px;
  border:3px solid $orange;
  background:$white;
  z-index:100;

  &-small-width {
    margin-left:-270px;
    width:540px;
  }

  &-wide-width {
    margin-left:-500px;
    width:1000px;
  }

  &.on {
    display:block;
  }

  &.popup-standalone {
    display:block;
    position:static;
    margin:0;
  }

  &-heading {
    margin-bottom:20px;
    font-size:20px;
    font-weight:bold;
    color:$pop-green;
    line-height:1;
  }

  &-subheading {
    margin-bottom:10px;
    font-weight:bold;
    color:$dark;
    line-height:1;
  }

  &-content {
    @include clear();
    padding-bottom:22px;
    border-bottom:2px solid #becacc;

    &-section {
      @include clear();
      margin-top:18px;
      padding:11px;
      background:#ececec;
      border-radius:2px;

      &:first-child {
        margin-top:0;
      }
    }
  }

  &-bottom {
    @include clear();
    margin-top:22px;
  }

  &-input-wrap {
    @include clear();
    margin-top:10px;

    &:first-child {
      margin-top:0;
    }
  }

  &-gray-wrap {
    box-sizing:border-box;
    padding:5px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:#f9f9f9;
  }

  &-white-wrap {
    box-sizing:border-box;
    padding:5px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:$white;
  }

  &-label {
    box-sizing:border-box;
    padding-right:9px;
    height:27px;
    line-height:23px;
    color:$dark;
    font-weight:bold;
    text-align:right;

    &.operator{
      font-size:21px;
      font-weight:normal;
    }
  }

  &-unit {
    box-sizing:border-box;
    padding-left:9px;
    width:70px;
    height:27px;
    line-height:23px;
    color:$dark;
    font-weight:bold;
  }

  &-graph {
    margin:5px 10px;
    padding:2px;
    border:1px solid $light-gray;
    border-radius:2px;
    background:$white;

    &-bar {
      height:21px;
      background:$blue;
    }

    &-msg {
      margin-left:10px;
      font-size:12px;
      font-weight:bold;
    }
  }

  &-msg {
    color:$dark;
    font-weight:bold;
    line-height:1.4;

    &-icon {
      margin-top:3px;
      margin-right:8px;
    }

  }

  &-table {

    &-section {
      overflow:auto;
    }

  }

  &-section-heading {
    margin-bottom:10px;
    font-weight:bold;
  }

}
/* popup common : E */

/* vnf : S */
.width-add-pkg.input-form {
  width:517px;
}
.add-vnf {

  &-step{
    box-sizing:border-box;
    padding:10px;

    &-item {
      @include clear();
      margin-top:20px;
      line-height:14px;
      font-size:12px;
      font-weight:bold;

      &:first-child {
        margin-top:0;
      }
    }

    &-icon {
      width:23px;
      line-height:13px;
    }

    &-text {
      width:190px;
    }
  }

  &-state {

    &-ok {
      padding-left:14px;
      color:$pop-dark-blue;
      background:url(../images/popup/bg_dots_blue.png) no-repeat 0 center;
    }

    &-fail {
      padding-left:14px;
      color:$pop-red;
      background:url(../images/popup/bg_dots_red.png) no-repeat 0 center;
    }

  }

  &-detail {
    position:relative;
    height:170px;
  }
}

.stage01:after,
.stage02:after,
.stage03:after,
.stage04:after,
.stage05:after {
  width:10px;
  height:10px;
  content:"";
  position:absolute;
  top:10px;
  left:-7px;
  display:block;
  background:$white;
  border-left:1px solid $light-gray;
  border-bottom:1px solid $light-gray;
  transform:rotate(45deg);
}

.stage01:after {
  top:10px;
}
.stage02:after {
  top:43px;
}
.stage03:after {
  top:77px;
}
.stage04:after {
  top:110px;
}
.stage05:after {
  top:145px;
}

.updatable-list {
  height:110px;
}

.as-policy {
  height:400px;
  overflow:auto;

  &-table,
  &-in {
    margin-top:18px;
  }

}
/* vnf : E */

/* monitoring : S */
.popup {
  &-tree {
    margin-top:5px;
    padding:0;

    &-inner {
      padding:15px;
      height:130px;
      overflow:auto;
    }

    &-sorting {
      @include clear();
    }

  }

  &-add-graph-table {
    padding:15px;
    height:197px;
  }

}

.wheelbox {
  width:50px;
  height:30px;
  border:1px solid #C2CBCB;
  border-radius:2px;
  background:$white;
  box-sizing:border-box;
  overflow:hidden;

  &-input {
    width:30px;
    height:30px;
    border:0;
    display:inline-block;
    box-sizing:border-box;
    padding:0px 5px;
    color:#888;
    font-size:11px;
    font-weight:bold;
  }

  &-sort {
    margin-top:6px;

    &-btn {
      margin:3px 5px 3px 0px;
      padding:0px;
      width:7px;
      height:4px;
      line-height:2px;
      color:$light-gray;
      cursor:pointer;
      text-indent:-9999px;
      border:0;
      background:url(../images/table/sprite_btn_icons.png) no-repeat;

      &.asc {
        background-position: 0px -57px;
      }

      &.desc {
        background-position: 0px -66px;
      }

    }

  }

}

.stats-map {
  margin-top:10px;
  padding:10px;
  padding-right:5px;
  height:133px;

  &-wrap {
    padding-left:30px;
  }

  &-row {
    margin-top:5px;
    overflow:hidden;

    &:first-child {
      margin-top:0;
    }
  }

  &-item {
    width:25%;
    box-sizing:border-box;
    padding-right:5px;

    &-state {
      box-sizing:border-box;
      width:100%;
      height:24px;
      line-height:24px;
      border:1px dashed $light-gray;
      color:$dark;
      font-size:11px;
      font-weight:bold;
      text-align:center;

      &.active {
        border-color:$gray-green;
        background:$dark-green;
      }

      &.used {
        border-style:solid;
        background:$light-gray;
      }

    }

  }

}
/* monitoring : E */

/* setting : S */
.set {

  &-arrow-label {
    padding:0;
    text-align:center;
    font-size:20px;
    color:$pop-green;
  }

}
/* setting : E */

