@import "variables";
@import "mixins";

.vt-table {
	width: 100%;
	border-top: 2px solid $light-gray;

	&-th {
		height: 39px;
		position:relative;

		padding-left:10px;

		font-weight:bold;
		color:$dark;

		text-align:left;
		line-height:38px;

		border-bottom: 1px solid $light-gray;

		&.chkbox{
			line-height:0;
		}

		&.center {
			text-align: center;
		}

		&.first:after{
			display:none;
		}

		.area-btn-sort{
			margin-top:11px;
		}

		&:after{
			content:"";
			display:block;

			width:1px;
			height:15px;

			position:absolute;
			top:12px;
			left:0;
			background:$light-gray;
		}
	}

	&-td {
		height: 39px;
		padding-left:10px;
		border-bottom: 1px solid $clean-gray;

		&.center {
			text-align: center;
		}
	}
}

.tb-form {

	&-btn {

		&-sort{
			@include btn(7px, 4px, 7px, 0, $light-gray, $white, 0);
			text-indent:-99999em;
			background:url(../images/table/sprite_btn_icons.png) no-repeat 0 0px;
			padding:0;
			margin:3px 10px 3px 0;

			&.asc{
				background-position:0 -57px;

				&:hover, &.on{
					background-position:-18px -57px;
				}
			}

			&.desc{
				background-position:0 -66px;

				&:hover, &.on{
					background-position:-18px -66px;
				}
			}
		}

		&-edit {
			@include inline-block();
			@include btn(25px, 25px, 25px, 0, $white, $blue, 4px);
			text-indent: -9999px;
			background: $blue url(../images/table/sprite_btn_icons.png) no-repeat 50% 0;
		}

		&-del {
			@include inline-block();
			@include btn(25px, 25px, 25px, 0, $white, $orange, 4px);
			text-indent: -9999px;
			background: $orange url(../images/table/sprite_btn_icons.png) no-repeat 50% -25px;
		}
	}
}

.selectric{
	&-tb-form{
		&-select{
			width:95%;

			.selectric{
				border:0;

				.label{
					margin-left:0;
					font-size:$font-size-base;
					font-weight:bold;
					color:$dark;
				}
			}
		}
	}
}