@import "variables";

.vt-table{
  width:100%;
  border-top:2px solid $light-gray;

  &-th{
    height:39px;
    border-bottom:1px solid $light-gray;
  }

  &-td{
    height:39px;
    border-bottom:1px solid $clean-gray;

    &.center{
      text-align:center;
    }
  }
}