@import "variables";
@import "mixins";

.wrapper.vnf-host{
  position:relative;
}

.contents-section{

  &.general{
    width:896px;
    height:230px;
    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.config{
    width:600px;
    height:230px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.upgrade{
    width:252px;
    height:230px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.flavors{

    margin-bottom:6px;

    clear:both;

    .topology{
      height:858px;
      position:relative;
    }
  }

  &.instance-general {
    margin-bottom:6px;
  }

  &.assurance{
    margin-bottom:6px;
  }

  &.auto-scaling{
    margin-bottom:6px;
  }

  &.section-topology{
    margin-bottom:6px;

    .topology {
      position:relative;
      margin:0 auto;
      width:1672px;
      height:858px;
    }
  }

  &.instance-list{
    margin-bottom:6px;
  }

  &.vnf-update {
    width: 1760px;
    height: 100%;

    position: relative;

    box-sizing: border-box;

    overflow: auto;
  }

  &.narrow {
    width: 390px;
    height:100%;

    position: absolute;
    top: 0;
    left: 0;

    box-sizing:border-box;

    .contents-section-inner{
      height:100%;
      margin:0;
    }

  }

  &.wide {
    width: 1326px;
    float:right;
    margin-bottom:6px;

    &.heading{
      padding:5px 18px;
    }

    &.last{
      margin-bottom:0;
    }

  }

}

.vnf {
  &-btn-refresh {
    @include size(24, 27);
    padding:0;
    background:url(../images/ico_refresh.png) no-repeat 50% 50%;
    border:0;
    text-indent:-9999px;
  }

  &-icon {

    &-green,
    &-red {
      position:relative;
      padding-left:20px;

      &:after {
        @include size(13);
        content:"";
        position:absolute;
        top:50%;
        left:0;
        display:block;
        margin-top:-7px;
        border-radius:100%;
        background:$light-green;
      }

    }

    &-red {
      &:after {
        background:$red;
      }
    }

    &-loading {
      position:relative;
      padding-left:22px;
      background:url(../images/ico_spinner.gif) no-repeat 0 50%;
    }

    &-warn {
      position:relative;
      padding-left:22px;
      background:url(../images/ico_caution.png) no-repeat 0 50%;
    }

    &-waiting{
      position:relative;
      padding-left:22px;
    }

  }

  &-autoscale {
    width:850px;
  }

  &-host {

    &-input-wrap {
      @include clear();
      box-sizing:border-box;
      height:40px;
      padding:11px 10px 6px 10px;
      background-color:$fill-gray-bg;
      border:1px solid $light-gray;
      border-radius:2px;
    }

    &-list {
      display:none;
      height:calc(100% - 80px);

      &.on {
        display:block;
      }

      &-inner {
        height:100%;
        overflow:auto;
      }
    }

    &-row {
      @include clear();
      margin-top:10px;
      height:167px;
      font-size:0;
      white-space:nowrap;

      &:first-child {
        margin-top:0;
      }

      &.workload {
        height:140px;
      }
    }

    &-data {

      &.left-float {
        width:147px;
      }

      &.workload {
        margin-top:10px;
      }

      &-row {
        @include clear();
        margin-top:10px;

        &:first-child {
          margin-top:0;
        }
      }

      &-label {
        @include clear();
        height:22px;
        line-height:20px;
        color:$dark;
        font-weight:bold;

        &.left-float {
          width:40px;
        }

        &.first-item-label {
          height:auto;
          line-height:1;
          margin-bottom:4px;
        }

        &-detail {
          font-weight:normal;
        }
      }

    }

    &-item-first {
      @include size(314, 100%);
      display:inline-block;
      box-sizing:border-box;
      padding:11px 15px;
      border:1px solid $orange;
      font-size:13px;
      border-radius:3px;
      vertical-align:top;
    }

    &-name {
      margin:15px 30px 0 15px;

      &.workload {
        margin-top:0;
      }
    }

    &-img {
      @include size(88);
      background-color:$clean-gray;
    }

    &-title {
      margin-top:15px;
      text-align:center;
      color:$dark;
      font-weight:bold;
    }

    &-item {
      display:inline-block;
      margin-left:6px;
      padding:9px 10px;
      width:209px;
      height:100%;
      box-sizing:border-box;
      background:#fff;
      font-size:13px;
      border:1px solid $inner-border;
      border-radius:2px;
      vertical-align:top;

      &:first-child {
        margin-left:0;
      }

      &-wrap {
        display:inline-block;
        margin-left:4px;
        box-sizing:border-box;
        height:100%;
        padding:6px;
        background:$fill-gray-bg;
        border-radius:3px;
        border:1px solid $fill-gray-border;
        vertical-align:top;
      }

      &-name {
        margin-bottom:15px;
        height:32px;
        line-height:32px;
        text-align:center;
        color:$dark;
        font-weight:bold;
        background-color:$clean-gray;
        border-radius:2px;

        &.blue {
          background-color:$light-blue;
        }
      }
    }

  }

  &-graph {
    position:relative;
    width:100%;
    height:20px;
    border:1px solid $light-gray;
    border-radius:2px;
    overflow:hidden;

    &.left-float {
      width:calc(100% - 42px);
    }

    &-bar {
      height:20px;
      background:$blue-green;

      &.orange {
        background:$orange;
      }
    }

    &-msg {
      position:absolute;
      top:0;
      right:10px;
      line-height:20px;
      font-weight:bold;
      color:$dark;
    }

  }

}

.scale {

  &-group {
    @include clear();
  }

  &-text {
    float:left;
    margin-right:9px;
    height:27px;
    line-height:27px;
    font-weight:bold;

    &-out {
      display:inline-block;
      height:26px;
      border-bottom:1px solid $red;
    }

    &-in {
      display:inline-block;
      height:26px;
      border-bottom:1px solid $yellow;
    }
  }

  &-box {
    @include size(54, 25);
    float:left;
    line-height:25px;
    background:$clean-gray;
    border:1px solid $light-gray;
    border-radius:2px;
    font-weight:bold;
    text-align:center;
  }

}

.state {

  &-list {
    position:relative;
    margin-bottom:6px;
  }

  &-tab {
    @include clear();
    position:absolute;
    top:17px;
    left:18px;

    &-item {
      float:left;
    }

    &-link {
      @include size(80, 30);
      display:block;
      box-sizing:border-box;
      line-height:30px;
      color:$dark;
      font-weight:bold;
      text-align:center;
      border:1px solid $light-gray;
      border-bottom:0;

      &.on {
        color:$white;
        background:$light-gray;

        .notice-num {
          color:$dark;
          background:$white;
        }
      }

      .notice-num {
        padding:0 5px;
        height:18px;
        display:inline-block;
        margin-left:6px;
        border-radius:9px;
        text-align:center;
        line-height:18px;
        background:$clean-gray;
      }

    }

    &-cont {
      display:none;
      height:100%;

      &.on {
        display:block;
      }
    }
  }

  &-icon {

    &-alarm {

      &-on,
      &-off {
        @include size(25);
        display:inline-block;
        text-indent:-9999px;
        background:url(../images/ico_alarm.png) no-repeat;
        border:0;
      }

      &-on {
        background-position:50% -21px;
      }

      &-off {
        background-position:50% 4px;
      }

    }

  }

  &-table-wrap {
    max-height:444px;
  }

}

.state-box {

  &-cri,
  &-maj,
  &-min,
  &-normal {
    @include size(77, 30);
    box-sizing:border-box;
    line-height:30px;
    text-align:center;
    color:$white;
    font-weight:bold;
    border-radius:2px;
  }

  &-cri {
    background:$critical;
  }

  &-maj {
    background:$major;
  }

  &-min {
    background:$minor;
  }

  &-normal {
    background:$normal;
  }
}

.topology{

  &-wrap{
    width:1280px;
    margin:100px 0 0 196px;
    @include clear();
  }

  &-center{
    position:relative;
    margin:0 230px;
  }

  &-lines{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;

  }

}

.vm{

  &-section{
    min-height:160px;

    position:relative;
    //padding:10px 0 20px;

    text-align:center;

    border:1px solid $light-gray;
    border-radius:3px;

    background:$white;

    box-sizing:border-box;

    &.small{
      width:180px;

      &.center{
        margin:0 auto;
      }
    }

    &.large{
      width:460px;
      margin:40px 0 165px
    }

    &-title {
      height:14px;
      margin:18px 0;
      font-size:14px;
      font-weight:bold;
      line-height:1;
    }

    &-cont {
      &.no-title{
        margin-top:50px;
      }
    }

  }

  &-line{

    position:absolute;

    &.router{


      &-vt{
        top:453px;
        left:830px;
      }

      &-hr{
        &-left{
          top:170px;
          left:369px;
        }

        &-right{
          top:170px;
          left:1058px;

        }
      }

      &-cross{
        top:191px;
        left:780px;
      }
    }

    &.round-top-opened{
      top:190px;
      left:559px;
      //margin-left:-277px;
    }

    &.network{
      position:absolute;
      top:53px;
      left:434px;
      //margin-left:-402px;
    }

    &-router{
      width:40px;
      height:40px;

      position:absolute;

      text-indent:-99999em;

      background:url(../images/ico_router.png) no-repeat;

      &.vt{
        left:-14px;
        top:46px;
      }

      &.hr{
        left:100px;
        top:-14px;
      }

      &.cross{
        left:36px;
        top:34px;
      }
    }

    &-label{

      font-size:12px;

      &.center{
        margin:0 auto;
      }

      &.hr{
        position:absolute;
        top:515px;
        left:312px;
      }

      &.vt{
        width:160px;

        position:absolute;
        top:47px;
        left:-140px;

        transform:rotate(90deg);
        -webkit-transform-origin: 80px 80px 0;
        -moz-transform-origin: 80px 80px 0;
        -ms-transform-origin: 80px 80px 0;
        -o-transform-origin: 80px 80px 0;
        transform-origin: 80px 80px 0;
      }

      &.vt.invert{
        left:782px;

        transform:rotate(270deg);
        -webkit-transform-origin: 80px 80px 0;
        -moz-transform-origin: 80px 80px 0;
        -ms-transform-origin: 80px 80px 0;
        -o-transform-origin: 80px 80px 0;
        transform-origin: 80px 80px 0;
      }

    }

  }

}

.svg{

  &-arc{

    &-left{
      position:absolute;
      top:0px;
      left:0px;
    }

    &-right{
      position:absolute;
      top:0px;
      left:60px;
    }

  }

  &-vt-short{
    position:absolute;
    top:63px;
    left:50px;
  }

}


.update{

  &-module{

    &-group {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      padding:20px 20px 20px 304px;

      box-sizing:border-box;

      @include clear();
    }

    width:192px;
    height:100%;

    float:left;

    border-radius:3px;
    margin-left:10px;


    &.blue{
      background:#e9f4fc;
    }

    &.red{
      background:#fdedea;
    }

    &.orange{
      background:#fbeee5;
    }

    &.violet{
      background:#f4ebf7;
    }

    &.yellow{
      background:#fef9e5;
    }

    &.green{
      background:#e8f7ee;
    }

    &-title{
      height:43px;

      font-size:16px;
      font-weight:bold;
      color:$dark;
      text-align:center;

      line-height:43px;

      border-radius:3px;

      &.blue{
        background:#deebf7;
      }

      &.red{
        background:#f9d4d4;
      }

      &.orange{
        background:#fee6d4;
      }

      &.violet{
        background:#e6e2fe;
      }

      &.yellow{
        background:#fff6cf;
      }

      &.green{
        background:#e1efd9;
      }
    }

  }

  &-flow{

    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    padding:20px;

    box-sizing:border-box;

    .process-status{
      width:144px;
      height:42px;

      position:absolute;
      top:56px;
      left:135px;

      font-size:12px;
      font-weight:bold;

      text-align:center;
      line-height:42px;

      background:url(../images/ico_flow.png) no-repeat;

      &.processing{
        background-position:0 -58px;
      }
    }


    .flow-btn{
      @include btn( 100, 27, 27, 1px solid $light-gray, $dark, $inner-border, 2px );
      position:absolute;
      font-size:12px;
      font-weight:bold;
      z-index:10;

      &.start{
        top:45px;
        left:86px;
      }

      &.rollback{
        top:35px;
        left:16px;
      }

      &.next{
        top:123px;
        left:158px;
      }

      &.finish{
        @include btn( 140, 27, 27, none, $white, $orange, 2px );

        top:140px;
        left:75px;

        &:disabled{
          background:#f6b0a3;
          color:$white;
        }
      }

      &:disabled{
        color:$white-gray;
        cursor:auto;
      }

    }

    &-start{
      width:294px;
      height:114px;

      position:relative;

      &:after{
        content:"";
        display:block;
        width:294px;
        height:59px;

        position:absolute;
        bottom:0;
        left:0;

        background:url(../images/line_flow.png) no-repeat 62px 0;

      }

    }

    &-module{

      &-bar{
        width:100%;
        height:5px;

        position:relative;

        border-radius:2px;
        background:$blue-gray;

        &.success{
          background:#83afe1;
        }

        &.fail{
          background:#e18383;
        }

      }

      &-diagram{
        width:294px;
        height:185px;

        position:relative;

        &:after{
          content:"";
          display:block;
          width:294px;
          height:185px;

          position:absolute;
          top:0;
          left:0;

          background:url(../images/line_flow.png) no-repeat 62px -146px;
        }


        &.finish{

          width:294px;
          height:185px;

          position:relative;

          &:after{
            content:"";
            display:block;
            width:294px;
            height:140px;

            position:absolute;
            top:0;
            left:0;

            background:url(../images/line_flow.png) no-repeat 62px -404px;
          }

        }
      }

    }

    &-log{

      &-group{
        width:100%;
        position:absolute;
        top:-11px;
        left:0;
        padding:0 0 0 284px;

        box-sizing:border-box;

      }

      width:192px;
      height:27px;
      float:left;
      margin-left:10px;

      .btn-log{
        @include btn(152, 27, 27, 1px solid $clean-gray, $dark-gray, $white, 2px);
        @include center();

        &:disabled{
          color:$clean-gray;
          cursor:auto;
        }

        &.success{
          color:$white;
          border:0;
          background:#539df1;
        }

        &.fail{
          color:$white;
          border:0;
          background:#e66161;
        }

      }

    }

  }

}
