.contents-section{

  &.general{
    width:896px;
    height:230px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.config{
    width:600px;
    height:230px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.upgrade{
    width:252px;
    height:230px;

    margin-bottom:6px;
    box-sizing:border-box;
  }

  &.flavors{

    margin-bottom:6px;

    clear:both;
  }

  &.auto-scaling{

    margin-bottom:6px;
  }

  &.instance-list{

    margin-bottom:6px;
  }

}